{% from "/macros/translation.html" import transbag %}
	<section id="fh5co-about" data-section="about">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ transbag('about', this.alt, 'title') | markdown }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>{{ transbag('about', this.alt, 'description') | markdown }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
			{% for member in site.query('/team', alt=this.alt) %}
				<div class="col-md-4">
					<div class="fh5co-person text-center to-animate">
						<figure><img src="{{ member.image }}" alt="{{ member.alt }}"></figure>
						<h3>{{ member.name }}</h3>
						<span class="fh5co-position">{{ member.position }}</span>
						<p>{{ member.description }}</p>
						<ul class="social social-circle">
            {% for social in member.social_networks.blocks %}
							<li><a href="{{ social.url }}"><i class="icon-{{ social.name }}"></i></a></li>
						{% endfor %}
						</ul>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</section>
