{% from "/macros/translation.html" import transbag %}
		<header role="banner" id="fh5co-header">
				<div class="container">
						<!-- <div class="row"> -->
						<nav class="navbar navbar-default">
								<div class="navbar-header">
										<!-- Mobile Toggle Menu Button -->
										<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
										<a class="navbar-brand" href="index.html">{{ site.name }}</a>
								</div>
								<div id="navbar" class="navbar-collapse collapse">
									<ul class="nav navbar-nav navbar-right">

										<li class="active"><a href="#" data-nav-section="home"><span>{{ transbag('nav', this.alt, 'home') }}</span></a></li>

										{% if config.THEME_SETTINGS.work == 'yes' %}
										<li><a href="#" data-nav-section="work"><span>{{ transbag('nav', this.alt, 'work') }}</span></a></li>
										{% endif %}

										{% if config.THEME_SETTINGS.testimonials == 'yes' %}
										<li><a href="#" data-nav-section="testimonials"><span>{{ transbag('nav', this.alt, 'testimonials') }}</span></a></li>
										{% endif %}

										{% if config.THEME_SETTINGS.services == 'yes' %}
										<li><a href="#" data-nav-section="services"><span>{{ transbag('nav', this.alt, 'services') }}</span></a></li>
										{% endif %}

										{% if config.THEME_SETTINGS.about == 'yes' %}
										<li><a href="#" data-nav-section="about"><span>{{ transbag('nav', this.alt, 'about') }}</span></a></li>
										{% endif %}

										{% if config.THEME_SETTINGS.contact == 'yes' %}
										<li><a href="#" data-nav-section="contact"><span>{{ transbag('nav', this.alt, 'contact') }}</span></a></li>
										{% endif %}

								</ul>
						</div>
				</nav>
				<!-- </div> -->
		</div>
</header>
