{% from "/macros/translation.html" import transbag %}
	<section id="fh5co-services" data-section="services">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-left">
					<h2 class=" left-border to-animate">{{ transbag('services', this.alt, 'title') | markdown }}</h2>
					<div class="row">
						<div class="col-md-8 subtext to-animate">
							<h3>{{ transbag('services', this.alt, 'description') | markdown }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
			{% for service in site.query('/services', alt=this.alt) %}
				<div class="col-md-6 col-sm-6 fh5co-service to-animate">
					<i class="icon to-animate-2 icon-{{ service.icon | markdown }}"></i>
					<h3>{{ service.title | markdown }}</h3>
					<p>{{ service.description | markdown }}</p>
				</div>
				<div class="clearfix visible-sm-block"></div>
			{% endfor %}
			</div>
		</div>
	</section>
