<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
	<head>
		{% include "partials/head.html" %}
	</head>
	<body>
		{% include "partials/nav.html" %}

		{% include "partials/hero.html" %}

		{% include "partials/intro.html" %}

		{% if config.THEME_SETTINGS.work == 'yes' %}
			{% include "partials/work.html" %}
		{% endif %}

		{% if config.THEME_SETTINGS.testimonials == 'yes' %}
			{% include "partials/testimonials.html" %}
		{% endif %}

		{% if config.THEME_SETTINGS.services == 'yes' %}
			{% include "partials/services.html" %}
		{% endif %}

		{% if config.THEME_SETTINGS.about == 'yes' %}
			{% include "partials/about.html" %}
		{% endif %}

		{% if config.THEME_SETTINGS.counters == 'yes' %}
			{% include "partials/counters.html" %}
		{% endif %}

		{% if config.THEME_SETTINGS.contact == 'yes' %}
			{% include "partials/contact.html" %}
		{% endif %}

		{% if config.THEME_SETTINGS.footer == 'yes' %}
			{% include "partials/footer.html" %}
		{% endif %}

		{% include "partials/js.html" %}

	</body>
</html>
